.h{
    text-align: center;
    color: wheat;
    letter-spacing: 20px;
    line-height: 50px;
}
body{
    background-image:linear-gradient(120deg,black,blue);
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    width: 70%;
    height: 400px;
    margin-left: 180px;
    margin-bottom: 100px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyg5aNmb60HlWW5IgPOVshElFDUk0YmeR-WA&s);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 20px 20px 10px 10px white;
    animation:slider 30s infinite linear;
}
@keyframes slider{
0%{background-image: url(https://cdn.hswstatic.com/gif/play/701c0bd8-06da-4a02-83cd-ca45e4883fc1-1920-1080.jpg);}
20%{background-image: url(https://images.unsplash.com/photo-1497752531616-c3afd9760a11?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmFieSUyMGFuaW1hbHxlbnwwfHwwfHx8MA%3D%3D);}
40%{background-image: url(https://wallpapers.com/images/featured/baby-animals-wmsvikfmzvhh3aot.jpg);}
60%{background-image: url(https://i.pinimg.com/originals/ce/4a/c1/ce4ac1324c0253e02d7c84a8cfb0d3ef.jpg);}
80%{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJzx3YHJ97boPE868sLj-yN0d8GHY_C1n5UO6jEC0AuH15YW4q5S9NS4FnnFc10T6tm74&usqp=CAU);}
}